*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    width: 100%;
    background-position:center ;
    background-size: cover;
    height: 109vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo-uno{
    width: 100%;
    height:60px ;
    background: #2b4583;
    padding-right: 40px;
    padding-left: 70px;
    padding-top: 10px;
}
.logo-uno:hover{
    cursor: pointer;
    
}
/* Arreglo del menu*/
.menu {width: 100%;
    max-width: 1000px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 25px;
    transition: background-color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: blueviolet;
    height: 20px;
    color: #fff;
    
  }
  
  .menu a.active {
    background-color: #333;
    color: #fff;
  }
  
  

/*fin del arreglo*/
.menu{
    width: 1000px;
    background: #2b4583;
    float: left;
    height: 60px;
    color: #fff;
    font-size: 15px;
    justify-content: start;
    align-items: center;
    display: flex;
}
.menu ul:hover {
    
    cursor: pointer;
    text-decoration: underline;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition:0.4s ease-in-out ;
}
ul li a:hover{
    color: rgb(216, 10, 123);
}
.search{
    width: 200px;
    float: left;
    margin-left: 270px;

}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid blueviolet;
    margin-top: 15px;
    color: black;
    border-right: none;
    font-size: 14px;
    float: left;
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.btn{
    width: 100px;
    height: 40px;
    background: blueviolet;
    border: 2px solid blueviolet;
    margin-top: 13px;
    color:black ;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline:none ;
}
.content{
    width:1200px ;
    height:auto ;
    margin: auto;
    color: rgb(43, 38, 38);
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width:160px ;
    height: 40px;
    background: rgb(130, 48, 207);
    border: none;
    margin-bottom: 10px ;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}
.content .cn a{
    text-decoration: none;
    color: rgb(86, 6, 94);
    transition: .3s ease;

}
.cn:hover{
    background: rgb(170, 9, 170);
}
.content span{
    color: white;
    font-size: 60px;
}
.form{
    width: 300px;
    height:400px ;
    background:linear-gradient(to top, rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 50%);
    position: absolute;
    top: -20px;
    left:870px ;
    padding: 25px;
}
.form h2 {
    width: 220px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(48, 44, 44);
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}
.form input{
    width: 240px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid blueviolet;
    border-top: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}
.form input:focus{
    outline:none ;

}
::placeholder{
    color: white;
    font-family: sans-serif;

}
#campo_nombre::placeholder{
    color: black;
    font-family: sans-serif;

}
#campo_email::placeholder{
    color: black;
    font-family: sans-serif;

}
#campo_edad::placeholder{
    color: black;
    font-family: sans-serif;

}
input[id="campo_nombre"]{
    color:black;
}
input[id="campo_email"]{
    color:black;
}
input[id="campo_edad"]{
    color:black;
}
textarea[id="campo_mensaje"]{
    color:black;
}
.btnContacto{
    background: linear-gradient(180deg, #2b4583 0%, #718d9e 100%);
    transition: all .3s; 
}
.btnContacto:hover{
    background: linear-gradient(180deg, blueviolet 0%, rgb(196, 179, 212) 100%);
    transition: all .3s; 
}
.btnn{
    width: 240px;
    height: 40px;
    background: blueviolet;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;

}
.btnn:hover{
    background: rgb(64, 21, 104);
    color: black;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

body{
    font-family: 'Times New Roman', Times, serif;

}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f43f, #2b4583), url(..//img5/montanas\ \(9\).jpg) ;
    background: linear-gradient(to right, #4286f43f, #373B44), url(..//img5/montanas\ \(9\).jpg);

     /* Chrome 10-25, Safari 5.1-6 */
    
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;

}
nav > a{
    color:white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
nav > a:hover{
    text-decoration: underline;

}
header .textos-header{
    display: flex;
    height:430px ;
    width:100% ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: #fff;

}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #f2f2f2;
}

/*Nuestras Instalaciones*/
.fondoContainer{
    background-image: url(../img5/un\ lugar\ soñado4.png);
    background-size: cover;
    background-position: center;
    position:relative;
}
.conteiner-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top:100px;

}
.conteiner-all-titulo {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 60px;

}
.conteiner-all img{
    width: 600px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    color: #4b0c80;
    border: 4px solid  rgb(180, 94, 180);

}
.conteiner-all p{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-right: 30px;
    color: #4b0c80;

}

/*Galeria*/
.portafolio{
    background: rgb(180, 94, 180);  
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagen-port{
    width:24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor:pointer ;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, .5);
    

}
.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*display: block;*/
}
.imagen-port:hover img{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform .5s;
}

/*Clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;

}
.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);

}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;

}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}
/* Our team*/

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    width: 1000px;
    height: 350px;
    padding: auto;
    background: rgb(175, 99, 175);
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.servicio-ind{
    text-align: center;
}
.servicio-ind img{
    width: 70%;
}
.servicio-ind:hover img{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform .5s;
}
.servicio-ind h3{
    font-size: 20px;
    color: #4d0686;
    justify-content: center;
    align-items: center;

}
.servicio-ind p{
    font-size: 18px;
    font-weight: 100;
    justify-content: center;
    text-align: center;
}

/*footer*/
.pie{
    background:#2b4583 ;
}

.logo{
    display: flex;
    align-items: center;
}
span{
    font-size: 30px;
}
.fb{
    background: blue;
    padding: 8px;
    border-radius: 50%;
    color: white;
}
.in{
    background: rgb(146, 17, 77);
    padding: 8px;
    border-radius: 50%;
    color: white;
}
.tw{
    background: rgb(0, 81, 255);
    padding: 8px;
    border-radius: 50%;
    color: white;
}
.wt{
    background: rgb(12, 138, 12);
    padding: 8px;
    border-radius: 50%;
    color: white;
}
.li{
    background: rgb(16, 71, 143);
    padding: 8px;
    border-radius: 50%;
    color: white;
}
.header-dos{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.section div{
    display: flex;
    flex-direction: column;
}
div h5{
    color: white;
    padding: 10px 0;
}
a{
    color:#e2bfd5;
    text-decoration: none;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
input{
    background: none;
    color: white;
    border: solid 2px white;
    padding: 10px 20px;
    cursor: pointer;
}
button{
    padding:10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
    cursor: pointer;
}
.derechos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background:rgb(24, 24, 105) ;
    color: white;
}
/* Arreglo boton suscribete*/